@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box; /*Todas las cajas se ajustan a los bordes de las otras*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
    
    /*El tamaño del body se ajusta al tamaño máximo del contenido, "Permite que el contenido se muestre completamente, pero no lo limites".*/
    max-height: max-content; 
    background-image: url(imagenes/vecteezy_cherry-blossom-branch-with-blooming-pink-sakura-flower-png_22952595.png);
    
    /*tamaño del png*/
    background-size:130ch;

    /*Posicionamiento del png de fondo se hace con porcentajes*/
    background-position: 70%;
    background-position-y: 100%;
    background-repeat: no-repeat;

}

main{    
    width: 90%;
    margin: auto;

}

nav{
    background-color: white;

    /*Determina el tipo de comportamiento que va a adquirir una caja*/
    display: flex; 
    justify-content: space-around;
    text-align: center;

    /*flex-wrap: wrap Permite la separacion de elementos ocupando todo el espacio - No hace falta porque el tamaño de las cajas es de 20%*/
    width: 100%;
}

nav p{
    padding: 15px;
    width: 20%; /*El tamaño perfecto para que el espacio se distribuya en proporción*/
}

nav p a{
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    color: black;
    text-decoration: none;
}

nav a:hover{
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #00b9ae;

}

nav p:hover{
    color: #00b9ae;
    background-color: #e7e7dbd0;
}

header{
    background-color: #00b9ae;
    display: flex;
    justify-content: center;
    align-items: center; /*centrado vertical*/
    text-align: center;
    height: 20vh;
}

header h1{
    font-size: 50px;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}


#anuncio{
    /*fixed hace que la caja esté posicionada de manera fija sobre todo el contenido de la pantalla*/
    position: fixed;

    /*Lugar exacto donde se va a encontrar la caja*/
    top: 50px; /*50px ya que quiero que esté justo de la barra de navegación*/
    right: 0;
    z-index: 1;

    /*El tamaño de la caja se ajusta al tamaño de l aimagen*/
    width: fit-content;
    height: fit-content;
}

#anuncio img{
    width: 20vh;
    height: 20vh;
}

#descripcion{
    background-color: rgba(245, 245, 245, 0.637);

    /*Sombra de la caja*/
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);


    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 20%;
}
#caja_article1{
    width: 70%;
}

#caja_article1 h2{
    text-align: center;
    padding: 5px;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

#caja_article1 p{
    padding: 20px 20px 20px;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#caja_article2{
    width: 30%;
    overflow: hidden;
}

#caja_article2 img{
    width: 50vh;
    height: fit-content;
}

#equipo{
    float: right;
    width: 100%;
    height: 100%;
}